{% extends 'base.html' %}


{% block header %}
    <form method="POST">
        <button type="submit" name="submit" value="delete">Удалить игру</button>
    </form>
    <h2>{{ game.title }}</h2>
{% endblock %}


{% block content %}
    <ul>
        <li>Разработчик: {{ game.developer }}</li>
        <li>Издатель: {{ game.publisher }}</li>
        <li>Дата выхода: {{ game.release_date }}</li>
    </ul>

    {% if not g.client %}
        <h3>Войдите в аккаунт, чтобы оставить отзыв</h3>
    {% else %}
        <h3>Отзыв:</h3>
        <form method="POST">

          <div>
            Оценка:
            <input type="radio" id="ratingChoise1"
             name="rating" value="1" {{ "checked" if review.rating == 1 else "" }} required>
            <label for="ratingChoise1">1</label>

            <input type="radio" id="ratingChoise2"
             name="rating" value="2" {{ "checked" if review.rating == 2 else "" }}>
            <label for="ratingChoise2">2</label>

            <input type="radio" id="ratingChoise3"
             name="rating" value="3" {{ "checked" if review.rating == 3 else "" }}>
            <label for="ratingChoise3">3</label>

            <input type="radio" id="ratingChoise4"
             name="rating" value="4" {{ "checked" if review.rating == 4 else "" }}>
            <label for="ratingChoise4">4</label>

            <input type="radio" id="ratingChoise5"
             name="rating" value="5" {{ "checked" if review.rating == 5 else "" }}>
            <label for="ratingChoise5">5</label>
          </div>

          <p>Комментарий:</p>
          <div>
            <textarea id="review" name="review"
              rows="6" cols="40" placeholder="здесь может быть ваш комментарий">{{ review.review_text }}</textarea>
          </div>

          <br>


          <button type="submit" name="submit" value="review">{{ "Изменить" if review else "Отправить" }}</button>
        </form>
    {% endif %}
{% endblock %}
