{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

  	<form method="post">
	  <div>
		<label for="username">Username</label>
    	<input name="username" id="username" required>
	  </div>

	  <br>

	  <div>
		<label for="password">Password</label>
    	<input type="password" name="password" id="password" onkeyup='check();' required>
	  </div>

	  <br>

	  <div>
		<label for="confirm_password">Повторите пароль</label>
		<input type="password" name="confirm_password" id="confirm_password" onkeyup='check();' required />
		<span id='message'></span>
	  </div>

	  <br>

	  <button type="submit" id="submit">Зарегистрироваться</button>
  	</form>

	<script>
		var check = function() {
		  if (document.getElementById('password').value ==
			document.getElementById('confirm_password').value) {
			document.getElementById('message').style.color = 'green';
			document.getElementById('message').innerHTML = 'matching';

			document.getElementById("submit").disabled = false;
		  } else {
			document.getElementById('message').style.color = 'red';
			document.getElementById('message').innerHTML = 'not matching';

			document.getElementById("submit").disabled = true;
		  }
		}
	</script>
{% endblock %}
